:host {
  --form: #f3f4f6;
  /* --primary: #3d8b9e;
  --primary-hover: #2d6b7e; */
  --background: #f4f7f6;
  --black: #706d79;
  --input: #f3f4f6;

  --header-font: 'Jura', sans-serif;
  --body-font: 'Inter', sans-serif;

  display: block;
  min-height: 100vh;
}

/* Custom scrollbar for the form if needed */
.main-card ::-webkit-scrollbar {
  width: 6px;
}

.main-card ::-webkit-scrollbar-thumb {
  background: #ccd5ff;
  border-radius: 10px;
}

